* {
  box-sizing: border-box;
}
 
html,
body {
  width: 30;
  height: 45;
  margin: 0;
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;

}
.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }