

body { 
    background-color: lightpink
}                 
h1 {
            color: blue;
        }
        h2 { 
            color: RED;
        }
        h3 {
            color: green
                    }

   